* {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  padding: 4em;
}

p {
  color: #555;
}

button {
	background: #008700;
	font-size: 1em;
  padding: 1.5em;
	color: white;
	width: 160px;
  border: none;
	border-radius: 15px;
}

button:hover {
  background: #009900;
}

input {
  width: 320px;
  padding: 1.5em;
	border: none;
	font-size: 1em;
	border-bottom: 2px solid #ccc;
	margin-bottom: 2em;
}

input:focus {
	outline-color: transparent;
  outline-style: none;
	border: 2px dashed #ccc;
  border-radius: 10px;
}

.form {
  padding: 2em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #ccc;
}

.totalWrong {
  color: red;
}

.totalCorrect {
  color: green;
}

#emoji {
  font-size: 6em;
}
